<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS: CHANGE IT LATER ON DJANGO STATIC -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/dist/css/bootstrap.css' %}">

    <title>{% block title %}Tsaqif A{% endblock %}</title>
  </head>
  {% block body %}<body class= "container-noPads bg-myBlue"></body>{% endblock %}
      <nav class="navbar navbar-expand-lg navbar-light bg-myDark" id="myNavbar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <button class="btn btn-secondary active" onclick="nightMode()" type="radio" name="options" id="option1" autocomplete="off" checked>
                Night
              </button>
              <button class="btn btn-secondary" onclick="dayMode()" type="radio" name="options" id="option2" autocomplete="off">
                Day
              </button>
          </div>
        
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'index' %}" id='home'>Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white disabled" href="{% url 'aboutMe' %}" tabindex="-1" aria-disabled="true" id='aboutMe'>About Me</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white disabled" href="{% url 'gallery' %}" tabindex="-1" aria-disabled="true" id='myCollections'>My Collections</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white disabled" href="{% url 'appointments' %}" id='myAppointments'>My Appointments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white disabled" href="{% url 'contactMe' %}" tabindex="-1" aria-disabled="true" id='contactMe'>Contact Me</a>
              </li>
            </ul>
          </div>
        </nav>
        {% block content %}
        {% endblock %}
    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        var panels = $('#accordion > div');
        panels.hide();
        $('#accordion > h3').click(function() {
          var $this = $(this);

          panels.slideUp();

          $this.next().slideDown();

          return false;
        })
      })
      function nightMode() {
        document.getElementById('myNavbar').className = 'navbar navbar-expand-lg navbar-light bg-myDark';
        document.getElementById('home').className = 'nav-link text-white';
        document.getElementById('aboutMe').className = 'nav-link text-white disabled';
        document.getElementById('myCollections').className = 'nav-link text-white disabled';
        document.getElementById('myAppointments').className = 'nav-link text-white disabled';
        document.getElementById('contactMe').className = 'nav-link text-white disabled';
      }
      function dayMode() {
        document.getElementById('myNavbar').className = 'navbar navbar-expand-lg navbar-light bg-myLight';
        document.getElementById('home').className = 'nav-link text-dark';
        document.getElementById('aboutMe').className = 'nav-link text-dark disabled';
        document.getElementById('myCollections').className = 'nav-link text-dark disabled';
        document.getElementById('myAppointments').className = 'nav-link text-dark disabled';
        document.getElementById('contactMe').className = 'nav-link text-dark disabled';
      }
      function show(id) {
        var panel = document.getElementById(id).nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        }else {
          panel.style.display = "block";
        }
      }

    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-4.3.1/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>