{% extends 'base.html' %}
{% block body %}<body class= "container-noPads" style="background:#fff url('static/assets/newIndexBGimg.jpg') center center no-repeat;background-attachment: fixed;background-size:cover;">{% endblock %}
{% block content %}
<div class="d-flex flex-column">
    <div class="d-flex flex-column justify-content-center" style="flex-shrink: 0;min-height: 50vh;">
        <h1 class="text-center text-white">Muhammad Tsaqif Al Bari</h1>
        <h2 class="text-center text-white">Totally a good googler, code sometimes.</h2>
    </div>
    <div class="d-flex flex-row justify-content-center" style="flex-shrink: 0;">
        <div id="accordion">
            <h3 class="text-center text-white" name="accordion">Aktivitas</h3>
            <div name="accordionText">
                <p class="text-center text-white">-Eat</p>
                <p class="text-center text-white">-Sleep</p>
                <p class="text-center text-white">-Repeat</p>
            </div>
            <h3 class="text-center text-white" name="accordion">Pengalaman organisasi</h3>
            <div name="accordionText">
                <p class="text-center text-white">-Osis 2012-2015</p>
            </div>
            <h3 class="text-center text-white" name="accordion">Prestasi</h3>
            <div name="accordionText">
                <p class="text-center text-white">-Masuk UI</p>
                <p class="text-center text-white">-Still breathing</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}